---
layout: archive
title: "Research"
permalink: /research/
layout: single
classes: wide
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=kJydRusAAAAJ&hl=en}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign pubs = site.publications | sort: "date" | reverse %}
<ul>
{% for pub in pubs %}
  <li>
    <strong>{{ pub.title }}</strong><br/>
    {% if pub.citation %}
      {{ pub.citation }}
    {% else %}
      {% if pub.authors %}{{ pub.authors }}. {% endif %}
      {% if pub.venue %}{{ pub.venue }}{% endif %}
    {% endif %}
  </li>
{% endfor %}
</ul>
