---
layout: single
title: "Conference Activities"
permalink: /talks/
author_profile: true
classes: wide
---

{% assign talks = site.talks | sort: "date" | reverse %}
<ul>
{% for t in talks %}
  <li>
    <strong>{{ t.title }}</strong><br/>
    {% if t.venue %}{{ t.venue }}{% endif %}{% if t.location %}, {{ t.location }}{% endif %}
    {% if t.date %} — {{ t.date | date: "%B %Y" }}{% endif %}
  </li>
{% endfor %}
</ul>

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

