---
layout: page
title: "Talk Map"
permalink: /talkmap.html
---

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin></script>

<style>
  #talkmap { height: 70vh; width: 100%; border: 1px solid #eee; }
</style>

<div id="talkmap"></div>

<script>
// init
var map = L.map('talkmap');
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom:19, attribution:'&copy; OpenStreetMap'}).addTo(map);

var bounds = [];
{% for t in site.talks %}
  {% if t.location_lat and t.location_lng %}
    (function(){
      var lat = {{ t.location_lat }};
      var lng = {{ t.location_lng }};
      var html = "<strong>{{ t.title | escape }}</strong>"
        {% if t.venue %} + "<br/>{{ t.venue | escape }}" {% endif %}
        {% if t.location %} + "<br/>{{ t.location | escape }}" {% endif %}
        {% if t.date %} + "<br/>{{ t.date | date: '%Y-%m-%d' }}" {% endif %};
      L.marker([lat, lng]).addTo(map).bindPopup(html);
      bounds.push([lat, lng]);
    })();
  {% endif %}
{% endfor %}

if (bounds.length) {
  map.fitBounds(bounds, {padding: [20,20]});
} else {
  map.setView([20,0], 2); // fallback if no coords present
}
</script>
